.usage-container .main-content {
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: red;
}

.usage-container img {
  object-fit: cover;
}

.docs-main {/*
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  */
width: 70%;
position: absolute;
right: 0;
padding-right: 70px;
color: #091540;
padding-top: 50px;
}
