.header{
  background-color: #091540;
  ;
  height: 4.5rem;
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.center{
  display: flex;
  gap: 1rem;
  color: white;
}

.footer{
  background-color: #091540;
  min-height: 12rem;
  width: 100%;
  color: white;
  padding-left: 12rem;
  padding-right: 12rem;
}

h3{
  font-size: 2rem;
  color: white;
  padding: 0;
}

h4{
  font-size: 1.5rem;
  padding: 0;
}

.features{
  color: white;
}
