.history-index {
  color: rgba(255, 81, 0, 0.87);
  text-align: center;
}

.history_btn {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
  font-size: medium;
}

.history_btn_primary{
  background-color: rgb(3, 3, 58);
  color: white;
}

.history_btn_danger {
  border: 1px solid red;
  color: red;

}

.history_btn_primary:hover {
  background-color: white;
  color: rgb(3, 3, 58);
}

.history_btn_danger:hover {
  background-color: red;
  color: white;
  border: none;
}

.history_btn_top {
  display: flex;
  align-items: end;
  justify-content: end;

}

