.usage-container .main-content {
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.usage-container img {
  object-fit: cover;
}

.docs-main {
  /*
  margin-left: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  */
  width: 70%;
  position: absolute;
  right: 0;
  padding-right: 70px;
  color: #091540;
  padding-top: 50px;
  margin-top: 100px;
}

.documents-div {
  line-height: 30px;
}

.documents-div h1,
h3 {
  text-align: start;
  padding: 2px;
  line-height: 50px;
}

.documents-div .list {
  padding: 10px;
}

.documents-div li {
  padding: 2px;
  list-style: circle;
}

@media only screen and (max-width: 768px) {
  .docs-main {
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
