.getstarted {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
}
.heading {
  color: #091540;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 25px;
}
.span {
  color: #f05d23;
}

.paragraph {
  font-size: 1.6rem;
  color: black;
  text-align: center;
  padding: 10px 10px;
  line-height: 30px;
}
.button {
  width: max-content;
  padding: 7px 20px; 
  height: 50px;
  background-color: #091540;
  color: white;
  margin: 20px 0;
  border-radius: 0.5rem;
}
@media (min-width: 540px) {
  .heading {
    font-size: 2.8rem;
    line-height: 35px;
    text-align: center;
  }
  .paragraph {
    font-size: 2rem;
    line-height: 30px;
    padding: 10px 30px;
  }
}
@media (min-width: 768px) {
  .heading {
    text-align: center;
    padding: 20px 40px;
    line-height: 40px;
    font-size: 3rem;
  }
  .paragraph {
    padding: 10px 40px;
  }
}
@media (min-width: 1024px) {
  .heading {
    font-size:3rem;
    padding: 10px 150px;
    line-height: 34px;
  }
  .getstarted {
    margin-top: 120px;
    padding: 0;
  }
  .paragraph {
    padding: 15px 200px;
  }
}
