.title{
  background-color: #091540;
  
}
.container{
  margin: auto;
  text-align: center;
  width: 80%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.h1{
  color: #FFFFFF;
  font-weight: 600;
font-size: 4.8rem;
}
.hi{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
}
.mainCont{
  margin: auto;
  width: 80%;
}
.mainHeading{
  text-align: center;
  color: #091540;
  margin-top: 5rem;
  font-weight: 600;
font-size: 4rem;
}
.main{
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  
}
.textCont{
  color: #091540;
  margin-bottom: 5rem;
}
.h2Main{
  font-weight: 500;
  font-size: 4rem;
}
.para{
  color: #091540;
  margin-top: 2rem;
  font-size: 1.8rem;
}
.imgCont{
 margin-right: -100px;
  width: 60%; 
  height: 66rem;
  background-image: url(./main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.textMain{
  width: 40%;
  
}

@media only screen and (max-width: 600px){
  .h1{
   
    font-weight: 600;
  font-size: 2.8rem;
  }
  .hi{
    
    font-weight: 500;
    font-size: 1.2rem;
  }
  .container{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .mainHeading{
  font-size: 2.8rem;
  }
  .main{
    
    flex-direction: column-reverse;
    
    margin-top: 1rem;
    margin-bottom: 4rem;
    
  }
  .imgCont{
    margin-bottom: -2rem;
     width: 100%;
     height: 30.0rem;
     background-size:100%;
   }
   .h2Main{
    font-size: 2.8rem;
  }
  .para{
    color: #091540;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: -2rem;
  }
  .textMain{
    width: 100%;
    
  }
}