.formgroup label {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5rem;
}
.formgroup input {
  display: block;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #121212;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #121212;
}
