@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Primary-color500: #323c60;
  --Default-121212: #121212;
}

.profile * p,
.profile * h1,
.profile * h2,
.profile * h3,
.profile * h4,
.profile * h5,
.profile * h6 {
  color: var(--Default-121212);
}

.profile * {
  font-family: "Poppins", sans-serif;
}

.profile {
  width: 100%;
}

.profile main {
  width: 100%;
  padding: 30px 50px;
}

.profile main .top {
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile main .top .pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.profile main .top .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile main .top .first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: inherit;
  align-self: flex-start;
}

.profile main .top .first h3 {
  font-size: 16px;
}

.profile main .top .first p:nth-child(2) {
  font-size: 16px;
}

.profile main .top .first p:nth-child(3) {
  font-size: 16px;
  font-weight: 600;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #0000000d;
  margin-top: 2px;
}

.profile main .top .first p {
  color: var(--Default-121212);
}

.profile main .top .second {
  padding: 6px;
  box-shadow: 0px 4px 5px 0px #0000001f;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  align-self: start;
}

.profile main .top .third {
  align-self: start;
}

.profile main .top .third h3 {
  font-size: 16px;
  color: var(--Default-121212);
}

.profile main .top .third p {
  color: var(--Default-121212);
  font-size: 16px;
  font-weight: 400;
}

/*  */
/*  */
/*  */
/*  */

.profile main .center {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 30px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.profile main .center .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile main .center .left .up {
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  padding: 12px 30px;
  gap: 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile main .center .left .up h3 {
  font-size: 26px;
  font-weight: 600;
}

.profile main .center .left .up div h4 {
  font-size: 22px;
  font-weight: 600;
}

.profile main .center .left .down {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12);
  padding: 4px;
  margin-left: 25px;
  width: fit-content;
}
