.container{
  margin-top: 2.4rem;
  position: relative;
  margin-top: 30px;
}
.image{
 position: relative;
/* top: 20%; */
 left: 10%;
}
.overlay{
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-60%);
}
@media (min-width: 1024px) {
 .overlay{width: 100%;}
 .image{width: 100%;}
}