.modal{
    width:80%;
    margin:50% auto;
    max-height:200px;
    padding:20px 20px;
    border:2px solid #b5b7c0;
  }
  .error{
    display:flex;
  }
  .intro{
    display:flex;
    justify-content:space-between;
  }
  
  
  .data{
    padding-left:4px;
    color:#0049B7;
  
  }
  @media (min-width:500px){
    .modal{
      width:350px;
      margin:20% auto;
  
     
    }
    .data{
      padding-left:4px;
      color:#0049B7;
    
    }
  }
  