/* import font family here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #121212;
  --color-orange: #f05d23;
  --color-lightBlue: #323c60;
  --color-darkBlue: #091540;
  --color-neutral: #f9f9ff;
  --mobile: 600px;
  --tablet: 900px;
}

/* Don't set font size as percentage */
/* font-size: 62.5% */

html {
  font-size: 16px;
}

a,
input,
button,
li {
  color: inherit;
  list-style: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

/* sets default margin of header elements and paragraph tag to zero */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
